@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  position: relative; 
  z-index: 1;
}
.back{
  background-image: "/public/cover.svg";
  background:image("/public/cover.svg");
  background: "cover.svg";
}